
html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}

img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: auto;
}

@mixin pos($v) {
  @if $v == a {
    position: absolute;
  } 
  @else if $v == r {
     position: relative;
  } 
  @else if $v == f {
    position: fixed;
  }
}

@mixin br($v:50%) {
  border-radius: $v;
}

@mixin opacity($v:0) {
  opacity: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin transitionDelay($time){
  -webkit-transition-delay: $time;
  transition-delay: $time;
}


@mixin transformOrigin($v) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin transition_transform($v) {
  -webkit-transition: -webkit-transform $v;
  transition: transform $v;
}

@mixin transform_origin($v:center) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin transition($v) {
  -webkit-transition: $v;
  transition: $v;
}

@mixin transitionTimingFunction($v:cubic-bezier(0, 0.9, 0.17, 1.01))
{
  -webkit-transition-timing-function: $v;
  transition-timing-function: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin background($bg) {
  background: $bg;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin animation($v) {
  -webkit-animation: $v;
  animation: $v;
}
@mixin animationDelay($time){
  -webkit-animation-delay:$time;
          animation-delay:$time;
}

@mixin transform3d() {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}

@mixin displayBox($v) {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: $v;
}

@mixin fly-h-gradient-line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(0.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
}

@mixin fly-v-gradient-line($minOpacity:.2,$maxOpacity:1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, $minOpacity)), color-stop(0.5, rgba(204, 204, 204, $maxOpacity)), to(rgba(204, 204, 204, $minOpacity)));
  background: -moz-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
  background: -ms-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
}

@mixin displayFlex($v:column) {
  display: flex;
  display: -webkit-flex;
  flex-flow: $v;
}

.shake-little{display:inline-block;-webkit-transform-origin:center center}
.shake-freeze,.shake-constant.shake-constant--hover:hover,.shake-trigger:hover .shake-constant.shake-constant--hover{-webkit-animation-play-state:paused}.shake-freeze:hover,.shake-trigger:hover .shake-freeze,.shake-little:hover,.shake-trigger:hover .shake-little{-webkit-animation-play-state:running}@-webkit-keyframes shake-little{2%{-webkit-transform:translate(0px, 1px) rotate(0.5deg)}4%{-webkit-transform:translate(1px, 1px) rotate(0.5deg)}6%{-webkit-transform:translate(1px, 0px) rotate(0.5deg)}8%{-webkit-transform:translate(1px, 0px) rotate(0.5deg)}10%{-webkit-transform:translate(1px, 0px) rotate(0.5deg)}12%{-webkit-transform:translate(1px, 0px) rotate(0.5deg)}14%{-webkit-transform:translate(0px, 0px) rotate(0.5deg)}16%{-webkit-transform:translate(0px, 0px) rotate(0.5deg)}18%{-webkit-transform:translate(0px, 0px) rotate(0.5deg)}20%{-webkit-transform:translate(0px, 1px) rotate(0.5deg)}22%{-webkit-transform:translate(0px, 1px) rotate(0.5deg)}24%{-webkit-transform:translate(1px, 1px) rotate(0.5deg)}26%{-webkit-transform:translate(1px, 0px) rotate(0.5deg)}28%{-webkit-transform:translate(0px, 0px) rotate(0.5deg)}30%{-webkit-transform:translate(1px, 0px) rotate(0.5deg)}32%{-webkit-transform:translate(0px, 0px) rotate(0.5deg)}34%{-webkit-transform:translate(1px, 0px) rotate(0.5deg)}36%{-webkit-transform:translate(0px, 0px) rotate(0.5deg)}38%{-webkit-transform:translate(1px, 0px) rotate(0.5deg)}40%{-webkit-transform:translate(0px, 0px) rotate(0.5deg)}42%{-webkit-transform:translate(1px, 1px) rotate(0.5deg)}44%{-webkit-transform:translate(0px, 0px) rotate(0.5deg)}46%{-webkit-transform:translate(0px, 0px) rotate(0.5deg)}48%{-webkit-transform:translate(0px, 1px) rotate(0.5deg)}50%{-webkit-transform:translate(0px, 0px) rotate(0.5deg)}52%{-webkit-transform:translate(0px, 0px) rotate(0.5deg)}54%{-webkit-transform:translate(0px, 1px) rotate(0.5deg)}56%{-webkit-transform:translate(0px, 0px) rotate(0.5deg)}58%{-webkit-transform:translate(1px, 0px) rotate(0.5deg)}60%{-webkit-transform:translate(0px, 1px) rotate(0.5deg)}62%{-webkit-transform:translate(0px, 0px) rotate(0.5deg)}64%{-webkit-transform:translate(1px, 1px) rotate(0.5deg)}66%{-webkit-transform:translate(1px, 0px) rotate(0.5deg)}68%{-webkit-transform:translate(0px, 0px) rotate(0.5deg)}70%{-webkit-transform:translate(1px, 1px) rotate(0.5deg)}72%{-webkit-transform:translate(0px, 1px) rotate(0.5deg)}74%{-webkit-transform:translate(0px, 0px) rotate(0.5deg)}76%{-webkit-transform:translate(0px, 0px) rotate(0.5deg)}78%{-webkit-transform:translate(0px, 1px) rotate(0.5deg)}80%{-webkit-transform:translate(1px, 0px) rotate(0.5deg)}82%{-webkit-transform:translate(1px, 0px) rotate(0.5deg)}84%{-webkit-transform:translate(0px, 0px) rotate(0.5deg)}86%{-webkit-transform:translate(0px, 1px) rotate(0.5deg)}88%{-webkit-transform:translate(1px, 1px) rotate(0.5deg)}90%{-webkit-transform:translate(0px, 0px) rotate(0.5deg)}92%{-webkit-transform:translate(1px, 1px) rotate(0.5deg)}94%{-webkit-transform:translate(1px, 1px) rotate(0.5deg)}96%{-webkit-transform:translate(1px, 0px) rotate(0.5deg)}98%{-webkit-transform:translate(0px, 1px) rotate(0.5deg)}0%,100%{-webkit-transform:translate(0, 0) rotate(0)}}.shake-little:hover,.shake-trigger:hover .shake-little,.shake-little.shake-freeze,.shake-little.shake-constant{-webkit-animation-duration:100ms;-webkit-animation-iteration-count:infinite;-webkit-animation-name:shake-little;-webkit-animation-timing-function:ease-in-out}

$baseColor:#d1bdbd;
$baseColor1:#e89e79;
$maxIndex:9999;
body{
  background:#200c41;
  overflow: hidden;
  font-size: .1rem;
  font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
  color:$baseColor;
}

.fly-meteor-C{
   width: 3rem;
   left: 20%;
   opacity:0;
  @include pos(a);
  @include transform(translate3d(100%,-100%,0));
  @include animation(meteorMove 5s infinite 2s);
}
.meteor{
  width: 3rem;

}

.fly-meteor-C1{
   width: 2rem;
   left: 50%;
   top: 10%;
   opacity:0;
  @include pos(a);
  @include transform(translate3d(100%,-100%,0));
  @include animation(meteorMove1 5s infinite 1s);
}

.fly-meteor-C2{
   width: 2rem;
   left: 70%;
   top: 30%;
   opacity:0;
    @include pos(a);
    @include transform(translate3d(100%,-100%,0));
    @include animation(meteorMove1 5s infinite 3s);
}



@mixin transitionTime($time:6s){
  @include transition_transform($time);
}

.fly-shine{
   width: 5rem;
   height:3rem;
   @include br(42%);
   @include pos(a);
   left: 30%;
   top: 25%;
   z-index: -1;
   -webkit-filter: blur(30px);
   box-shadow:0 0 6rem rgba(130,28,155,1),0 0 6rem rgba(130,28,155,1) inset ;
   @include transform(scale(0)); 
   
   @include transitionTime();
   &.active{
      @include transform(scale(1)); 
   }
}

.fly-moon{
   @include pos(a);
   top: 1.5rem;
   left: 1.4rem;
   width: 10rem;
   
   @include transitionTime();
   
}

.fly-moon-heart{
   @include pos(a);
   width: 9rem;
   top: 1.8rem;
   @include transitionTime();
}

.fly-text{
   width: 8rem;
   @include pos(a);
   left: 3rem;
   top: 7.8rem;
   p{
    color:#9e4941;
    font-size: .4rem;
    line-height: 24px;
    &:nth-of-type(2){
      text-indent:2em;
  
    }
   }
}

.fly-window{
  @include pos(a);
  bottom:-5.5rem;
   @include transitionTime();
}

.fly-women{
  @include pos(a);
  bottom:0;
  width: 6rem;
  @include transitionTime();
}
.fly-rabbit{
  @include pos(a);
  bottom:0;
  width: 2rem;
  right: 0;

  @include transitionTime();

}

@mixin public(){
  .fly-moon-heart{
      @include transform(translate3d(-5rem,-5rem,0) scale(0));
    }
    .fly-moon{
      @include transform(translate3d(5rem,-5rem,0) scale(0)); 
    }
    .fly-women{
      @include transform(translate3d(-10rem,0,0));  
    }
    .fly-rabbit{
      @include transform(translate3d(3rem,0,0));   
    }
    
    .fly-shine{
      @include transform(scale(.8));
    }
     .fly-text{
      p{
        @include transitionTime(4s);
        &:nth-of-type(1){
          @include transform(translate3d(-10.5rem,-2.5rem,0));   
        }
        &:nth-of-type(2){
          @include transform(translate3d(7rem,-2.5rem,0));   
        }
      }
    }
}

.fly-main-C{

  &.drawscene{
    @include public();
      .fly-box{
        @include transition(opacity 2s);
      }
     .fly-window{
         @include transform(translate3d(0,10.5rem,0));   
      }
      .fly-rabbit-r{
        @include transition_transform(2.13s linear);
      }

      .fly-box-btn{
        @include transition(2.1s  linear);
      }

      .fly-plum{
         @include transition(opacity 3s );
      }
      .fly-petal{
         @include transition(opacity 3s);
      }
  }
  
  &.active{
    @include public();
    .fly-star-C{
      @include transitionTime(4s);
      @include transform(scale(.9));
    }
    .fly-window{
      @include transform(translate3d(0,-5.5rem,0));   
    }
    .fly-latern{
      opacity:1;
    }
    .fly-box{
      z-index: 1;
      opacity:1;
    }
    .fly-rabbit-r,.fly-box-btn{
      @include transform(translate3d(0,0,0));
    }

    .fly-plum{
         opacity:1;
      }
      .fly-petal{
         opacity:1;
      }
  }
}

.fly-box{
  $width:6rem;
  $left:4rem;
  width:$width;
  @include pos(a);
  bottom:1.8rem;
  left: $left;
  opacity:0;
  @include transition(opacity 2s 4s);
}

.fly-rabbit-r{
  $width:2rem;
  $left : .7rem;
  width: $width;
  bottom:3rem;
  left: $left;
  @include pos(a);
  @include transform(translate3d(-($width + $left + 1,0,0)));
  @include transition_transform(2.13s 5s linear);
  &.hide{
    @include transform(translate3d(-($width + $left + 1,0,0)));
  }
  
}

.fly-box-btn{
  @include pos(a);
  left: 2.8rem;
  bottom:5.5rem;
  @include transform(translate3d(-4rem,0,0));
  @include transition(2.1s 5s linear);
  &.hide{
      opacity:0;
  }
}

.fly-plum{
   width: 5rem;
   @include pos(a);
   top:10%;
   @include transition(opacity 3s 4s);
   opacity:0;
}
.fly-petal{
    width: .5rem;
   @include pos(a);
   top:25%;
   left:5%;
   @include transition(opacity 3s 4s);
   opacity:0;
   
   &:nth-of-type(2){
     left: 10%;
     top: 30% !important;
   }
   &:nth-of-type(3){
      left: 17%;
   }
}

.fly-latern{
    @include pos(a);
    width: 3rem;
    bottom:0;
    left: 20%;
    opacity:0;
}

.fly-sun-sm{
  width: 4rem;
  height: 4rem;
  text-align: center;
  @include pos(a);
  bottom:5.5rem;
  right: .7rem;
  z-index: -1;
  opacity:0;
  &.active{
    z-index: 1;
    opacity:1;
    @include transform(translate3d(0,-7rem,0));
    -webkit-transition:-webkit-transform 5s 3s linear,opacity 3s  linear;
  }
  img{
    width: 60%;
    margin-top: 1.2rem;
  }
}

.fly-house{
  @include pos(a);
  bottom:0;

}

.fly-dialog{
  @include pos(a);
    display: none;
  &.none{
    display: none;
  }

  &.hide{
    opacity:0;
    @include transition(opacity 1s .5s);
  }
  top: 25%;
  width: 90%;
  .my-moon-letterhead{
     @include pos(a);
     width: 4rem;
      &.active{
         .fly-button-t{
              box-shadow: 0 0 1rem rgba(222,88,24,.7), 0 0 1rem rgba(222,88,24,.7),0 0 2rem rgba(222,88,24,.4) inset;
           }
          .fly-button-b{
              opacity:0;
           }
        }
     .fly-button-b,.fly-button-t{
        width: 4rem;
        height: 1.2rem;
        line-height: 1.2rem;
        border-color:#de5818 !important;
        .linex,.liney{
            border-color:#de5818 !important;
        }
        .linex{
          top:91%;
        }
        .liney{
          right:-2px;
        }
     }
     span{
      font-size:.41rem;
     }
     .fly-button-b{
       width:4.1rem;
     }
     left: 25%;
     bottom:1.4rem;
     color:#de5818;

  }
}




@-webkit-keyframes meteorMove{
  0% {
    opacity:0;
    @include transform(translate3d(100%,-100%,0));
  }
  50%,100%{
    @include transform(translate3d(0,0,0));
    opacity:1;
  }
}

@-webkit-keyframes meteorMove1{
  0% {
    opacity:0;
    @include transform(translate3d(100%,-100%,0));
  }
  50%,100%{
    @include transform(translate3d(-50%,30%,0));
    opacity:1;
  }
}