html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

html, body {
  height: 100%; }

img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: auto; }

.shake-little {
  display: inline-block;
  -webkit-transform-origin: center center; }

.shake-freeze, .shake-constant.shake-constant--hover:hover, .shake-trigger:hover .shake-constant.shake-constant--hover {
  -webkit-animation-play-state: paused; }

.shake-freeze:hover, .shake-trigger:hover .shake-freeze, .shake-little:hover, .shake-trigger:hover .shake-little {
  -webkit-animation-play-state: running; }

@-webkit-keyframes shake-little {
  2% {
    -webkit-transform: translate(0px, 1px) rotate(0.5deg); }
  4% {
    -webkit-transform: translate(1px, 1px) rotate(0.5deg); }
  6% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  8% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  10% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  12% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  14% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  16% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  18% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  20% {
    -webkit-transform: translate(0px, 1px) rotate(0.5deg); }
  22% {
    -webkit-transform: translate(0px, 1px) rotate(0.5deg); }
  24% {
    -webkit-transform: translate(1px, 1px) rotate(0.5deg); }
  26% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  28% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  30% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  32% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  34% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  36% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  38% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  40% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  42% {
    -webkit-transform: translate(1px, 1px) rotate(0.5deg); }
  44% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  46% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  48% {
    -webkit-transform: translate(0px, 1px) rotate(0.5deg); }
  50% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  52% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  54% {
    -webkit-transform: translate(0px, 1px) rotate(0.5deg); }
  56% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  58% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  60% {
    -webkit-transform: translate(0px, 1px) rotate(0.5deg); }
  62% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  64% {
    -webkit-transform: translate(1px, 1px) rotate(0.5deg); }
  66% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  68% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  70% {
    -webkit-transform: translate(1px, 1px) rotate(0.5deg); }
  72% {
    -webkit-transform: translate(0px, 1px) rotate(0.5deg); }
  74% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  76% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  78% {
    -webkit-transform: translate(0px, 1px) rotate(0.5deg); }
  80% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  82% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  84% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  86% {
    -webkit-transform: translate(0px, 1px) rotate(0.5deg); }
  88% {
    -webkit-transform: translate(1px, 1px) rotate(0.5deg); }
  90% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  92% {
    -webkit-transform: translate(1px, 1px) rotate(0.5deg); }
  94% {
    -webkit-transform: translate(1px, 1px) rotate(0.5deg); }
  96% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  98% {
    -webkit-transform: translate(0px, 1px) rotate(0.5deg); }
  0%,100% {
    -webkit-transform: translate(0, 0) rotate(0); } }
.shake-little:hover, .shake-trigger:hover .shake-little, .shake-little.shake-freeze, .shake-little.shake-constant {
  -webkit-animation-duration: 100ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: shake-little;
  -webkit-animation-timing-function: ease-in-out; }

body {
  background: #200c41;
  overflow: hidden;
  font-size: .1rem;
  font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
  color: #d1bdbd; }

.fly-meteor-C {
  width: 3rem;
  left: 20%;
  position: absolute;
  -webkit-transform: translate3d(100%, -100%, 0);
  transform: translate3d(100%, -100%, 0);
  -webkit-animation: meteorMove 5s infinite 2s;
  animation: meteorMove 5s infinite 2s; }

.meteor {
  width: 3rem; }

.fly-meteor-C1 {
  width: 2rem;
  left: 80%;
  top: 60%;
  position: absolute;
  -webkit-transform: translate3d(100%, -100%, 0);
  transform: translate3d(100%, -100%, 0);
  -webkit-animation: meteorMove1 5s infinite 1s;
  animation: meteorMove1 5s infinite 1s; }

.fly-shine {
  width: 5rem;
  height: 3rem;
  border-radius: 42%;
  position: absolute;
  left: 30%;
  top: 25%;
  z-index: -1;
  -webkit-filter: blur(30px);
  box-shadow: 0 0 6rem #821c9b, 0 0 6rem #821c9b inset;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 6s;
  transition: -webkit-transform 6s;
  transition: transform 6s;
  transition: transform 6s, -webkit-transform 6s; }
  .fly-shine.active {
    -webkit-transform: scale(1);
    transform: scale(1); }

.fly-moon {
  position: absolute;
  top: 1.5rem;
  left: 1.4rem;
  width: 10rem;
  -webkit-transition: -webkit-transform 6s;
  transition: -webkit-transform 6s;
  transition: transform 6s;
  transition: transform 6s, -webkit-transform 6s; }

.fly-moon-heart {
  position: absolute;
  width: 9rem;
  top: 1.8rem;
  -webkit-transition: -webkit-transform 6s;
  transition: -webkit-transform 6s;
  transition: transform 6s;
  transition: transform 6s, -webkit-transform 6s; }

.fly-text {
  width: 8rem;
  position: absolute;
  left: 3rem;
  top: 7.8rem; }
  .fly-text p {
    color: #9e4941;
    font-size: .4rem;
    line-height: 24px; }
    .fly-text p:nth-of-type(2) {
      text-indent: 2em; }

.fly-window {
  position: absolute;
  bottom: -5.5rem;
  -webkit-transition: -webkit-transform 6s;
  transition: -webkit-transform 6s;
  transition: transform 6s;
  transition: transform 6s, -webkit-transform 6s; }

.fly-women {
  position: absolute;
  bottom: 0;
  width: 6rem;
  -webkit-transition: -webkit-transform 6s;
  transition: -webkit-transform 6s;
  transition: transform 6s;
  transition: transform 6s, -webkit-transform 6s; }

.fly-rabbit {
  position: absolute;
  bottom: 0;
  width: 2rem;
  right: 0;
  -webkit-transition: -webkit-transform 6s;
  transition: -webkit-transform 6s;
  transition: transform 6s;
  transition: transform 6s, -webkit-transform 6s; }

.fly-main-C.active .fly-moon-heart {
  -webkit-transform: translate3d(-5rem, -5rem, 0) scale(0);
  transform: translate3d(-5rem, -5rem, 0) scale(0); }
.fly-main-C.active .fly-moon {
  -webkit-transform: translate3d(5rem, -5rem, 0) scale(0);
  transform: translate3d(5rem, -5rem, 0) scale(0); }
.fly-main-C.active .fly-women {
  -webkit-transform: translate3d(-10rem, 0, 0);
  transform: translate3d(-10rem, 0, 0); }
.fly-main-C.active .fly-rabbit {
  -webkit-transform: translate3d(3rem, 0, 0);
  transform: translate3d(3rem, 0, 0); }
.fly-main-C.active .fly-window {
  -webkit-transform: translate3d(0, -5.5rem, 0);
  transform: translate3d(0, -5.5rem, 0); }
.fly-main-C.active .fly-shine {
  -webkit-transform: scale(0.8);
  transform: scale(0.8); }
.fly-main-C.active .fly-star-C {
  -webkit-transition: -webkit-transform 4s;
  transition: -webkit-transform 4s;
  transition: transform 4s;
  transition: transform 4s, -webkit-transform 4s;
  -webkit-transform: scale(0.9);
  transform: scale(0.9); }
.fly-main-C.active .fly-text p {
  -webkit-transition: -webkit-transform 4s;
  transition: -webkit-transform 4s;
  transition: transform 4s;
  transition: transform 4s, -webkit-transform 4s; }
  .fly-main-C.active .fly-text p:nth-of-type(1) {
    -webkit-transform: translate3d(-10.5rem, -2.5rem, 0);
    transform: translate3d(-10.5rem, -2.5rem, 0); }
  .fly-main-C.active .fly-text p:nth-of-type(2) {
    -webkit-transform: translate3d(7rem, -2.5rem, 0);
    transform: translate3d(7rem, -2.5rem, 0); }

@-webkit-keyframes meteorMove {
  0% {
    -webkit-transform: translate3d(100%, -100%, 0);
    transform: translate3d(100%, -100%, 0); }
  50%,100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes meteorMove1 {
  0% {
    -webkit-transform: translate3d(100%, -100%, 0);
    transform: translate3d(100%, -100%, 0); }
  50%,100% {
    -webkit-transform: translate3d(-50%, 30%, 0);
    transform: translate3d(-50%, 30%, 0); } }

/*# sourceMappingURL=index.css.map */