html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

html, body {
  height: 100%; }

img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: auto; }

.shake-little {
  display: inline-block;
  -webkit-transform-origin: center center; }

.shake-freeze, .shake-constant.shake-constant--hover:hover, .shake-trigger:hover .shake-constant.shake-constant--hover {
  -webkit-animation-play-state: paused; }

.shake-freeze:hover, .shake-trigger:hover .shake-freeze, .shake-little:hover, .shake-trigger:hover .shake-little {
  -webkit-animation-play-state: running; }

@-webkit-keyframes shake-little {
  2% {
    -webkit-transform: translate(0px, 1px) rotate(0.5deg); }
  4% {
    -webkit-transform: translate(1px, 1px) rotate(0.5deg); }
  6% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  8% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  10% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  12% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  14% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  16% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  18% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  20% {
    -webkit-transform: translate(0px, 1px) rotate(0.5deg); }
  22% {
    -webkit-transform: translate(0px, 1px) rotate(0.5deg); }
  24% {
    -webkit-transform: translate(1px, 1px) rotate(0.5deg); }
  26% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  28% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  30% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  32% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  34% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  36% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  38% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  40% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  42% {
    -webkit-transform: translate(1px, 1px) rotate(0.5deg); }
  44% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  46% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  48% {
    -webkit-transform: translate(0px, 1px) rotate(0.5deg); }
  50% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  52% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  54% {
    -webkit-transform: translate(0px, 1px) rotate(0.5deg); }
  56% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  58% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  60% {
    -webkit-transform: translate(0px, 1px) rotate(0.5deg); }
  62% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  64% {
    -webkit-transform: translate(1px, 1px) rotate(0.5deg); }
  66% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  68% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  70% {
    -webkit-transform: translate(1px, 1px) rotate(0.5deg); }
  72% {
    -webkit-transform: translate(0px, 1px) rotate(0.5deg); }
  74% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  76% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  78% {
    -webkit-transform: translate(0px, 1px) rotate(0.5deg); }
  80% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  82% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  84% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  86% {
    -webkit-transform: translate(0px, 1px) rotate(0.5deg); }
  88% {
    -webkit-transform: translate(1px, 1px) rotate(0.5deg); }
  90% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  92% {
    -webkit-transform: translate(1px, 1px) rotate(0.5deg); }
  94% {
    -webkit-transform: translate(1px, 1px) rotate(0.5deg); }
  96% {
    -webkit-transform: translate(1px, 0px) rotate(0.5deg); }
  98% {
    -webkit-transform: translate(0px, 1px) rotate(0.5deg); }
  0%,100% {
    -webkit-transform: translate(0, 0) rotate(0); } }
.shake-little:hover, .shake-trigger:hover .shake-little, .shake-little.shake-freeze, .shake-little.shake-constant {
  -webkit-animation-duration: 100ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: shake-little;
  -webkit-animation-timing-function: ease-in-out; }

body {
  background: #200c41;
  overflow: hidden;
  font-size: .1rem;
  font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
  color: #d1bdbd; }

#fly-main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.fly-meteor-C {
  width: 3rem;
  left: 20%;
  opacity: 0;
  position: absolute;
  -webkit-transform: translate3d(100%, -100%, 0);
  transform: translate3d(100%, -100%, 0);
  -webkit-animation: meteorMove 5s infinite 2s;
  animation: meteorMove 5s infinite 2s; }

.meteor {
  width: 3rem; }

.fly-meteor-C1 {
  width: 2rem;
  left: 50%;
  top: 10%;
  opacity: 0;
  position: absolute;
  -webkit-transform: translate3d(100%, -100%, 0);
  transform: translate3d(100%, -100%, 0);
  -webkit-animation: meteorMove1 5s infinite 1s;
  animation: meteorMove1 5s infinite 1s; }

.fly-meteor-C2 {
  width: 2rem;
  left: 70%;
  top: 30%;
  opacity: 0;
  position: absolute;
  -webkit-transform: translate3d(100%, -100%, 0);
  transform: translate3d(100%, -100%, 0);
  -webkit-animation: meteorMove1 5s infinite 3s;
  animation: meteorMove1 5s infinite 3s; }

.fly-shine {
  width: 5rem;
  height: 3rem;
  border-radius: 42%;
  position: absolute;
  left: 30%;
  top: 25%;
  z-index: -1;
  -webkit-filter: blur(30px);
  box-shadow: 0 0 6rem #821c9b, 0 0 6rem #821c9b inset;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 6s;
  transition: transform 6s; }
  .fly-shine.active {
    -webkit-transform: scale(1);
    transform: scale(1); }

.fly-moon {
  position: absolute;
  top: 1.5rem;
  left: 1.4rem;
  width: 10rem;
  -webkit-transition: -webkit-transform 6s;
  transition: transform 6s; }

.fly-moon-heart {
  position: absolute;
  width: 9rem;
  top: 1.8rem;
  -webkit-transition: -webkit-transform 6s;
  transition: transform 6s; }

.fly-text {
  width: 8rem;
  position: absolute;
  left: 3rem;
  top: 7.8rem; }
  .fly-text p {
    color: #9e4941;
    font-size: .4rem;
    line-height: 24px; }
    .fly-text p:nth-of-type(2) {
      text-indent: 2em; }

.fly-window {
  position: absolute;
  bottom: -5.5rem;
  -webkit-transition: -webkit-transform 6s;
  transition: transform 6s; }

.fly-women {
  position: absolute;
  bottom: 0;
  width: 6rem;
  -webkit-transition: -webkit-transform 6s;
  transition: transform 6s; }

.fly-rabbit {
  position: absolute;
  bottom: 0;
  width: 2rem;
  right: 0;
  -webkit-transition: -webkit-transform 6s;
  transition: transform 6s; }

.fly-main-C {
  overflow: hidden; }
  .fly-main-C.drawscene .fly-moon-heart {
    -webkit-transform: translate3d(-5rem, -5rem, 0) scale(0);
    transform: translate3d(-5rem, -5rem, 0) scale(0); }
  .fly-main-C.drawscene .fly-moon {
    -webkit-transform: translate3d(5rem, -5rem, 0) scale(0);
    transform: translate3d(5rem, -5rem, 0) scale(0); }
  .fly-main-C.drawscene .fly-women {
    -webkit-transform: translate3d(-10rem, 0, 0);
    transform: translate3d(-10rem, 0, 0); }
  .fly-main-C.drawscene .fly-rabbit {
    -webkit-transform: translate3d(3rem, 0, 0);
    transform: translate3d(3rem, 0, 0); }
  .fly-main-C.drawscene .fly-shine {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  .fly-main-C.drawscene .fly-text p {
    -webkit-transition: -webkit-transform 4s;
    transition: transform 4s; }
    .fly-main-C.drawscene .fly-text p:nth-of-type(1) {
      -webkit-transform: translate3d(-10.5rem, -2.5rem, 0);
      transform: translate3d(-10.5rem, -2.5rem, 0); }
    .fly-main-C.drawscene .fly-text p:nth-of-type(2) {
      -webkit-transform: translate3d(7rem, -2.5rem, 0);
      transform: translate3d(7rem, -2.5rem, 0); }
  .fly-main-C.drawscene .fly-box {
    -webkit-transition: opacity 2s;
    transition: opacity 2s; }
  .fly-main-C.drawscene .fly-window {
    -webkit-transform: translate3d(0, 10.5rem, 0);
    transform: translate3d(0, 10.5rem, 0); }
    .fly-main-C.drawscene .fly-window.active {
      -webkit-transition-delay: 0;
      transition-delay: 0;
      -webkit-transform: translate3d(0, -5.5rem, 0);
      transform: translate3d(0, -5.5rem, 0); }
  .fly-main-C.drawscene .fly-rabbit-r {
    -webkit-transition: -webkit-transform 2.13s linear;
    transition: transform 2.13s linear; }
  .fly-main-C.drawscene .fly-box-btn {
    -webkit-transition: 2.1s linear;
    transition: 2.1s linear; }
  .fly-main-C.drawscene .fly-plum {
    -webkit-transition: opacity 3s;
    transition: opacity 3s; }
  .fly-main-C.drawscene .fly-petal {
    -webkit-transition: opacity 3s;
    transition: opacity 3s; }
  .fly-main-C.drawscene .fly-box.active {
    opacity: 1;
    -webkit-transition-delay: 6s;
    transition-delay: 6s; }
  .fly-main-C.active .fly-moon-heart {
    -webkit-transform: translate3d(-5rem, -5rem, 0) scale(0);
    transform: translate3d(-5rem, -5rem, 0) scale(0); }
  .fly-main-C.active .fly-moon {
    -webkit-transform: translate3d(5rem, -5rem, 0) scale(0);
    transform: translate3d(5rem, -5rem, 0) scale(0); }
  .fly-main-C.active .fly-women {
    -webkit-transform: translate3d(-10rem, 0, 0);
    transform: translate3d(-10rem, 0, 0); }
  .fly-main-C.active .fly-rabbit {
    -webkit-transform: translate3d(3rem, 0, 0);
    transform: translate3d(3rem, 0, 0); }
  .fly-main-C.active .fly-shine {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  .fly-main-C.active .fly-text p {
    -webkit-transition: -webkit-transform 4s;
    transition: transform 4s; }
    .fly-main-C.active .fly-text p:nth-of-type(1) {
      -webkit-transform: translate3d(-10.5rem, -2.5rem, 0);
      transform: translate3d(-10.5rem, -2.5rem, 0); }
    .fly-main-C.active .fly-text p:nth-of-type(2) {
      -webkit-transform: translate3d(7rem, -2.5rem, 0);
      transform: translate3d(7rem, -2.5rem, 0); }
  .fly-main-C.active .fly-star-C {
    -webkit-transition: -webkit-transform 4s;
    transition: transform 4s;
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  .fly-main-C.active .fly-window {
    -webkit-transform: translate3d(0, -5.5rem, 0);
    transform: translate3d(0, -5.5rem, 0); }
  .fly-main-C.active .fly-latern {
    opacity: 1; }
  .fly-main-C.active .fly-box {
    z-index: 1;
    opacity: 1; }
  .fly-main-C.active .fly-rabbit-r, .fly-main-C.active .fly-box-btn {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  .fly-main-C.active .fly-plum {
    opacity: 1; }
  .fly-main-C.active .fly-petal {
    opacity: 1; }

.fly-box {
  width: 6rem;
  position: absolute;
  bottom: 1.8rem;
  left: 4rem;
  opacity: 0;
  -webkit-transition: opacity 2s 4s;
  transition: opacity 2s 4s; }

.fly-rabbit-r {
  width: 2rem;
  bottom: 3rem;
  left: 0.7rem;
  position: absolute;
  -webkit-transform: translate3d(-3.7rem, 0, 0);
  transform: translate3d(-3.7rem, 0, 0);
  -webkit-transition: -webkit-transform 2.13s 5s linear;
  transition: transform 2.13s 5s linear; }
  .fly-rabbit-r.hide {
    -webkit-transform: translate3d(-3.7rem, 0, 0);
    transform: translate3d(-3.7rem, 0, 0); }

.fly-box-btn {
  position: absolute;
  left: 2.8rem;
  bottom: 5rem;
  opacity: 0;
  -webkit-transform: translate3d(-4rem, 0, 0);
  transform: translate3d(-4rem, 0, 0);
  -webkit-transition: 2.1s 5s linear;
  transition: 2.1s 5s linear; }
  .fly-box-btn .vertical-btn {
    height: 3.5rem; }
    .fly-box-btn .vertical-btn span {
      color: #d54c17;
      line-height: 24px; }
      .fly-box-btn .vertical-btn span:first-of-type {
        margin-top: 10px; }
    .fly-box-btn .vertical-btn .fly-button-t, .fly-box-btn .vertical-btn .fly-button-b {
      border-color: #d54c17; }
  .fly-box-btn.hide {
    opacity: 0; }

.fly-plum {
  width: 5rem;
  position: absolute;
  top: 10%;
  -webkit-transition: opacity 3s 4s;
  transition: opacity 3s 4s;
  opacity: 0; }

.fly-petal {
  width: .5rem;
  position: absolute;
  top: 25%;
  left: 5%;
  -webkit-transition: opacity 3s 4s;
  transition: opacity 3s 4s;
  opacity: 0; }
  .fly-petal:nth-of-type(2) {
    left: 10%;
    top: 30% !important; }
  .fly-petal:nth-of-type(3) {
    left: 17%; }

.fly-shadow {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%; }

.fly-latern {
  position: absolute;
  width: 3rem;
  bottom: 0;
  left: 20%;
  opacity: 0; }

.fly-sun-sm {
  width: 4rem;
  height: 4rem;
  text-align: center;
  position: absolute;
  bottom: 5.5rem;
  right: .7rem;
  z-index: -1;
  opacity: 0; }
  .fly-sun-sm.active {
    z-index: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, -7rem, 0);
    transform: translate3d(0, -7rem, 0);
    -webkit-transition: -webkit-transform 5s 3s linear,opacity 3s  linear; }
  .fly-sun-sm img {
    width: 60%;
    margin-top: 1.2rem; }

.fly-house {
  position: absolute;
  bottom: 0; }

.fly-dialog {
  position: absolute;
  display: none;
  top: 25%;
  width: 90%; }
  .fly-dialog.none {
    display: none; }
  .fly-dialog.active {
    display: block; }
  .fly-dialog.hide {
    opacity: 0;
    -webkit-transition: opacity 1s 0.5s;
    transition: opacity 1s 0.5s; }
  .fly-dialog .my-moon-letterhead {
    position: absolute;
    width: 4rem;
    left: 25%;
    bottom: 1.4rem;
    color: #de5818; }
    .fly-dialog .my-moon-letterhead.active .fly-button-t {
      box-shadow: 0 0 1rem rgba(222, 88, 24, 0.7), 0 0 1rem rgba(222, 88, 24, 0.7), 0 0 2rem rgba(222, 88, 24, 0.4) inset; }
    .fly-dialog .my-moon-letterhead.active .fly-button-b {
      opacity: 0; }
    .fly-dialog .my-moon-letterhead .fly-button-b, .fly-dialog .my-moon-letterhead .fly-button-t {
      width: 4rem;
      height: 1.2rem;
      line-height: 1.2rem;
      border-color: #de5818 !important; }
      .fly-dialog .my-moon-letterhead .fly-button-b .linex, .fly-dialog .my-moon-letterhead .fly-button-b .liney, .fly-dialog .my-moon-letterhead .fly-button-t .linex, .fly-dialog .my-moon-letterhead .fly-button-t .liney {
        border-color: #de5818 !important; }
      .fly-dialog .my-moon-letterhead .fly-button-b .linex, .fly-dialog .my-moon-letterhead .fly-button-t .linex {
        top: 91%; }
      .fly-dialog .my-moon-letterhead .fly-button-b .liney, .fly-dialog .my-moon-letterhead .fly-button-t .liney {
        right: -2px; }
    .fly-dialog .my-moon-letterhead span {
      font-size: .41rem; }
    .fly-dialog .my-moon-letterhead .fly-button-b {
      width: 4.1rem; }

@-webkit-keyframes meteorMove {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, -100%, 0);
    transform: translate3d(100%, -100%, 0); }
  50%,100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
@-webkit-keyframes meteorMove1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, -100%, 0);
    transform: translate3d(100%, -100%, 0); }
  50%,100% {
    -webkit-transform: translate3d(-50%, 30%, 0);
    transform: translate3d(-50%, 30%, 0);
    opacity: 1; } }

/*# sourceMappingURL=share.css.map */
