.fly-draw-scene {
  width: 10rem;
  position: fixed;
  left: 0;
  top: 1rem;
  z-index: 20;
  display: none; }
  .fly-draw-scene.active {
    display: block; }
  .fly-draw-scene textarea {
    font-size: .45rem; }
  .fly-draw-scene .fly-text-img {
    position: absolute;
    left: 2rem;
    top: 0;
    opacity: 0;
    z-index: -1;
    -webkit-transition: 5s opacity 2s;
    transition: 5s opacity 2s;
    width: 6rem; }
    .fly-draw-scene .fly-text-img.active {
      opacity: 1; }
  .fly-draw-scene .fly-share-rabbit {
    width: 2.5rem;
    position: fixed;
    bottom: 3rem;
    left: 1rem;
    opacity: 0;
    -webkit-transition: 1s opacity 2s;
    transition: 1s opacity 2s; }
    .fly-draw-scene .fly-share-rabbit.active {
      opacity: 1; }
  .fly-draw-scene .fly-logo {
    width: 2rem;
    position: fixed;
    bottom: .5rem;
    left: 1rem;
    opacity: 0;
    -webkit-transition: 1s opacity 2s;
    transition: 1s opacity 2s; }
    .fly-draw-scene .fly-logo.active {
      opacity: 1; }
  .fly-draw-scene header {
    text-align: center;
    font-size: .5rem; }
  .fly-draw-scene.hide .fly-btn-C {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0, 0.9, 0.17, 1.01);
    transition-timing-function: cubic-bezier(0, 0.9, 0.17, 1.01);
    -webkit-transform: translate3d(0, 20rem, 0);
    transform: translate3d(0, 20rem, 0); }
  .fly-draw-scene.hide header {
    opacity: 0;
    -webkit-transition: 1s opacity;
    transition: 1s opacity; }
  .fly-draw-scene.hide .fly-draw-C canvas {
    display: none; }
  .fly-draw-scene.hide .fly-draw-C .fly-center-circle {
    opacity: 0;
    -webkit-transition: 1s opacity;
    transition: 1s opacity; }
  .fly-draw-scene.hide .fly-card-C {
    opacity: 1;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    left: 0;
    color: #893c0e;
    top: 1rem; }
    .fly-draw-scene.hide .fly-card-C .fly-wish-words {
      position: absolute;
      left: 0;
      line-height: 1rem;
      top: 4.2rem;
      width: 64%;
      left: 18%;
      color: inherit;
      font-size: .4rem; }
    .fly-draw-scene.hide .fly-card-C .fly-edit-C {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 100;
      background: rgba(0, 0, 0, 0.5); }
      .fly-draw-scene.hide .fly-card-C .fly-edit-C textarea {
        width: 100%;
        height: 2rem; }
      .fly-draw-scene.hide .fly-card-C .fly-edit-C section {
        height: 4rem;
        background: #fff; }
      .fly-draw-scene.hide .fly-card-C .fly-edit-C .fly-button-C {
        margin: 0 auto; }
      .fly-draw-scene.hide .fly-card-C .fly-edit-C .fly-button-b, .fly-draw-scene.hide .fly-card-C .fly-edit-C .fly-button-t {
        color: #666;
        border-color: #666666; }
        .fly-draw-scene.hide .fly-card-C .fly-edit-C .fly-button-b .linex, .fly-draw-scene.hide .fly-card-C .fly-edit-C .fly-button-b .liney, .fly-draw-scene.hide .fly-card-C .fly-edit-C .fly-button-t .linex, .fly-draw-scene.hide .fly-card-C .fly-edit-C .fly-button-t .liney {
          border-color: #666666; }
    .fly-draw-scene.hide .fly-card-C .fly-edit-wish {
      position: absolute;
      top: 10rem;
      color: inherit;
      width: 100%; }
      .fly-draw-scene.hide .fly-card-C .fly-edit-wish section .fly-button-b span, .fly-draw-scene.hide .fly-card-C .fly-edit-wish section .fly-button-t span {
        font-size: .4rem; }
      .fly-draw-scene.hide .fly-card-C .fly-edit-wish .fly-button-C {
        margin: 0 auto; }
      .fly-draw-scene.hide .fly-card-C .fly-edit-wish .fly-button-b, .fly-draw-scene.hide .fly-card-C .fly-edit-wish .fly-button-t {
        color: #666;
        border-color: #666666; }
        .fly-draw-scene.hide .fly-card-C .fly-edit-wish .fly-button-b .linex, .fly-draw-scene.hide .fly-card-C .fly-edit-wish .fly-button-b .liney, .fly-draw-scene.hide .fly-card-C .fly-edit-wish .fly-button-t .linex, .fly-draw-scene.hide .fly-card-C .fly-edit-wish .fly-button-t .liney {
          border-color: #666666; }
    .fly-draw-scene.hide .fly-card-C .fly-wish-name {
      position: absolute;
      color: inherit;
      top: 8.3rem;
      font-size: .4rem;
      right: 1.5rem; }
    .fly-draw-scene.hide .fly-card-C .fly-wish-content {
      position: absolute;
      top: 10rem;
      left: 1.5rem;
      width: 7rem;
      background: transparent;
      height: 1.5rem;
      z-index: 10;
      outline: none; }
    .fly-draw-scene.hide .fly-card-C .fly-wish-author {
      position: absolute;
      outline: none;
      top: 12rem;
      width: 7rem;
      height: .6rem;
      left: 1.5rem;
      background: transparent;
      border: 1px solid #ccc; }
    .fly-draw-scene.hide .fly-card-C .fly-wish-btns {
      position: absolute;
      top: 13rem;
      width: 100%;
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-orient: horizontal; }
      .fly-draw-scene.hide .fly-card-C .fly-wish-btns .fly-button-C {
        margin: 0 20px;
        color: #666666; }
        .fly-draw-scene.hide .fly-card-C .fly-wish-btns .fly-button-C .fly-button-t, .fly-draw-scene.hide .fly-card-C .fly-wish-btns .fly-button-C .fly-button-b {
          border-color: #666666; }
        .fly-draw-scene.hide .fly-card-C .fly-wish-btns .fly-button-C .fly-button-b .linex, .fly-draw-scene.hide .fly-card-C .fly-wish-btns .fly-button-C .fly-button-b .liney {
          border-color: #666666; }
        .fly-draw-scene.hide .fly-card-C .fly-wish-btns .fly-button-C .fly-button-b .linex {
          top: 89%; }
  .fly-draw-scene .fly-card-C {
    opacity: 0;
    -webkit-transition: 2s 1s;
    transition: 2s 1s;
    position: absolute;
    -webkit-transform: translate3d(0, 3rem, 0);
    transform: translate3d(0, 3rem, 0); }
    .fly-draw-scene .fly-card-C .fly-face {
      position: absolute;
      top: 0; }
  .fly-draw-scene .fly-draw-C {
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
    margin: 10px 0;
    position: relative; }
    .fly-draw-scene .fly-draw-C canvas {
      position: relative;
      z-index: 1; }
    .fly-draw-scene .fly-draw-C .fly-center-circle {
      width: 8rem;
      height: 8rem;
      border: 3px dashed #f2e75d;
      position: absolute;
      border-radius: 50%;
      background: #746867;
      top: 1rem;
      left: 1rem;
      z-index: 0; }
  .fly-draw-scene .fly-btn-C {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal; }
    .fly-draw-scene .fly-btn-C div.fly-button-C {
      margin: 0 20px; }

/*# sourceMappingURL=drawscene.css.map */